body{background: #e0d3a8;}
h1,h3, button{
    text-align: center;
    color: #736c56;
}
.wrapper {
    text-align: center;
    width: 500px;
    margin-left: 35%;
    margin-top: 55px;
}
.input {
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    border: none;
}
