body{background: #e0d3a8;}
h1,h3, button{
    text-align: center;
    color: #736c56;
}
.wrapper {
    text-align: center;
    border: 1mm ridge #5c4e18;
    background-color: #ffffff;
    width: 500px;
    margin-left: 35%;
    margin-top: 55px;
    color: #736c56;
}
